/* Top Section - Start */
#topSection {
  width: 1028px;
  height: 532px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

.top-section-content {
  padding: 10px 30px;
}

.top-section-content * {
  z-index: 50;
}

.top-nav { 
  display: flex; 
  font-size: var(--size-14);
  margin-top: var(--size-20);
}

.project-logo-container {
  width: 9.938rem;
}

.top-section-content ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 29px;
  color: var(--base-font);
}

.topnav-btn {
  margin-right: 15px;
  width: 107px;
  border: 1px solid transparent;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 40px 30px 0px;
  gap: 10px;
  width: 1024px;
  height: 446px;
}

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 60px;
  gap: 30px;
  width: 477px;
  height: 406px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 11px;
  width: 334px;
  height: 172px;
}

.title span {
  width: 334px;
  height: 144px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.title p {
  width: 334px;
  height: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: var(--size-14);
  line-height: 17px;
  color: var(--base-font);
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 477px;
  height: 48px;
}

.actions > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 137px;
  height: 48px;
  border-radius: 30px;
}

.actions > a > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  gap: 8px;
  width: 137px;
  cursor: pointer;
}

.actions > a > button > i {
  width: var(--size-18);
  height: var(--size-18);
  font-style: normal;
  font-weight: 900;
  font-size: var(--size-18);
  line-height: var(--size-18);
}

.actions > a > button > span {
  width: 61px;
  height: 15px;
  font-weight: 500;
  line-height: 15px;
}

.features-link {
  height: 17px;
  font-weight: 700;
  font-size: var(--size-14);
  line-height: 17px;
  color: var(--blue);
}

.right-part {
  width: 477px;
  height: 406px;
  position: relative;
}

.lg-logo-container {
  width: 80px;
  background: var(--white);
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 40px;  
  z-index: 75;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
}

.sm-logo-container {
  width: 60px;
  background: #FFFFFF;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  z-index: 75;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
}

.asana-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 380px;
  top: 10px;
}

.calendar-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 364px;
  top: 310px;
}

.weave-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 262px;
  top: 172px;
}

.paypal-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 44px;
  top: 172px;
}

.attlasian-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 175px;
  top: 10px;
}

.google-ads-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 155px;
  top: 290px;
}

.google-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 64px;
  top: 10px;
}

.top-section-bg {
  position: absolute;
  width: 1023.5px;
  height: 517px;
  left: 0.5px;
  top: -1px;
  z-index: 0;
}

.vector-2 {
  position: absolute;
  width: 316px;
  height: 443px;
  left: 711.5px;
  top: 0px;
  background: #E1E7EF;
}

.vector-1 {
  position: absolute;
  width: 884.5px;
  height: 517px;
  left: 0px;
  top: 0px;

  background:
  linear-gradient(312.73deg,
  rgba(217, 217, 217, 0.44) 17.61%,
  rgba(217, 217, 217, 0) 55.85%);
}
/* Top Section - End */

/* Key Benefits Section - Start */
#keyBenefitsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0px 80px;
  gap: 60px;
  width: 1024px;
  height: 655px;
}

.benefits-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 434px;
  height: 65px;
}

.key-benefits {
  width: 160px;
  height: 31px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
}

.benefit-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 30px;
  gap: 30px;
  width: 1024px;
  height: 330px;
}

.benefits-paragraph {
  width: 434px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--base-font);
}

.benefit-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 30px;
  gap: 30px;
  width: 1024px;
  height: 330px;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  width: 218.5px;
  height: 310px;
  background: (var--white);
  border: 1px solid var(--white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 178.5px;
  height: 270px;
}

.responsive-1 {
  width: 50px;
  height: 50px;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 91px;
  height: 23px;
}

.card-title span {
  width: 91px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.title-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 140px;
  height: 23px;
}

.title-with-icon button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 10px;
  gap: 10px;
  width: 60px;
  height: 23px;
  background: #01C9A7;
  border: none;
  border-radius: 15px;
}

.title-with-icon button a {
width: 40px;
height: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: var(--white);
}

.item-content p {
  width: 178.5px;
  height: 120px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--base-font);
}

.item-content a {
  width: 78px;
  height: 17px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--blue);
}
/* Key Benefits Section - End */

/* Banner Section - Start */
#bannerSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 30px 80px;
  gap: 10px;
  width: 1024px;
  height: 550px;
}

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 30px;
  gap: 26px;
  width: 450px;
  height: 470px;
}

.left-part-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 11px;
  width: 390px;
  height: 62px;
}

.left-part-title span {
  width: 390px;
  height: 62px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: (var--black);
}

.right-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  gap: 10px;  
  width: 504px;
  height: 470px;
}

.banner-one {
  width: 504px;
  height: 353px;
}
/* Banner Section - End */

/* Why Front Section - Start */
#whyFrontSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 80px;
  gap: 40px;
  width: 1024px;
  height: 354px;
}

.why-front-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 600px;
  height: 89px;
}

.why-front-title span {
  width: 141px;
  height: 31px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: var(--black);
}

.why-front-title p {
  width: 600px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--base-font);
}

.bullet-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 34px;
  width: 1024px;
  height: 145px;
}

.bullet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px 0px;
  gap: 24px;
  width: 239px;
  height: 145px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 239px;
  height: 50px;
}

.left-wing {
  width: 90.5px;
  height: 1px;
  background: #E6E9F2;
}

.bullet-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 50px;
  height: 50px;
  background: #ECF2FF;
  border-radius: 25px;
}

.bullet-circle-inner {
  width: 6px;
  height: 6px;
  background: #0066FF;
  border-radius: 3px;
}

.right-wing {
  width: 90.5px;
  height: 1px;
  background: #E6E9F2;
}

.bullet-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 4px;
  width: 239px;
  height: 19px;
}

.bullet-title span {
  width: 116px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--black);
}

.left-wing-blank, .right-wing-blank { background: none; }
/* Why Front Section - End */

/* Banner Play Section - Start */
#bannerPlaySection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px 80px;
  gap: 10px;
  width: 1024px;
  height: 497px;
}

.banner-frame {
  width: 964px;
  height: 497px;
  position: relative;
}

.play-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 4px;
  gap: 10px;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 447px;
  top: 172px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  z-index: 1;
}

.play {
  width: 15px;
  height: 20px;
  font-family: 'Font Awesome 6 Free';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.banner-two {
  position: absolute;
  width: 964px;
  height: 414px;
  left: 0px;
  top: 0px;
}
/* Banner Play Section - End */

/* Hub spot Section - Start */
#hubspotSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 1024px;
  height: 560px;
}

.left-part {
  width: 452px;
  height: 560px;
  position: relative;
}

.woman-three {
  position: absolute;
  width: 371px;
  height: 425px;
  left: 81px;
  top: 0px;
  z-index: 1;
}

.dots {
  position: absolute;
  width: 200px;
  height: 369.28px;
  left: 28px;
  top: 100px;
}

.right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 30px 0px 0px;
  gap: 50px;
  width: 512px;
  height: 560px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 482px;
  height: 191.18px;
}

.hubspot-one {
  width: 100px;
  height: 33.18px;
}

.right-part span {
  width: 482px;
  height: 128px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px 100px 0px;
  gap: 4px;
  width: 147px;
  height: 143px;
}

.person span {
  width: 125px;
  height: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.person p {
  width: 127px;
  height: 17px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--base-font);
}
/* Hub spot Section - End */

/* Brands Section - Start */
#brandsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 80px;
  gap: 45px;
  width: 1024px;
  height: 208px;
}

.why-front-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 1024px;
  height: 24px;
}

.why-front-title span {
  width: 280px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #5F6368;
}

.brands-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 30px;
  gap: 100px;
  width: 1024px;
  height: 59px;
}

.brands-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 30px;
  gap: 100px;
  width: 1024px;
  height: 59px;
}

.brands-list div {
  width: 112.8px;
  height: 40px;
}


